
.div_NavBar{
    background-color: blue;
    /* border: 1px solid rgb(185, 42, 42); */
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 10px 0px;
}

.Nav_Bar{
    color: antiquewhite;
}

.HoFoAb{
    display: flex;
    justify-content: center;
    flex-direction: column;
}