
.div_general_detail{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image{
    filter: drop-shadow(10px 5px 7px rgba(0, 0, 0, 0.808));
    -webkit-filter: drop-shadow(10px 5px 7px rgba(0, 0, 0, 0.808));
}

.Detail_div{
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 35vh;
    max-height: 100%;
}



.Div_caracteristicas{
    display: flex;
    flex-direction: row;
    /* padding: 0px 20px; */
    margin: 0px 60px;
    border: 1px solid #30a7d7;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #30a7d7;

}

.name_caracteristicas{
display: flex;
color: aliceblue;
font-weight: bolder;
height: 250px;
width: 100%;
}

.part_caracteristicas{
    padding: 13px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div_caract{
    display: flex;
    flex-direction: column;
}

/*span menor*/
.div_caract_span{
    color: black;
    padding-bottom: 5px;
}

.nameTitle{
    -webkit-text-stroke: 2px #000000;
    text-shadow: 0px 0px 18px #3e59cf;
    filter: drop-shadow(5px 2px 4px rgba(143, 25, 25, 0.4));
    -webkit-filter: drop-shadow(5px 2px 4px rgba(148, 42, 42, 0.4));
}



/*div del boton*/
.div_button{
    z-index: 1;
}
/**/