
.div_general_detail{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.Detail_div{
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 35vh;
    max-height: 100%;
}



.Div_caracteristicas{
    display: flex;
    flex-direction: row;
    /* padding: 0px 20px; */
    margin: 0px 60px;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #30a7d7;

}

.name_caracteristicas{
display: flex;
color: aliceblue;
font-weight: bolder;
}

.part_caracteristicas{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.div_caract{
    display: flex;
    flex-direction: column;
}

/*span menor*/
.div_caract_span{
color: black;
}

.nameTitle{
    
    -webkit-text-stroke: 2px #000000;
    text-shadow: 0px 0px 10px #000000;
}