.SearchBar_Div {
    width: auto;
    height: auto;
    

}


.SearchBar_Div2 {
    /* background-color: #5264ae44; */
    display: flex;
}




/*INPUT DEL SEARCHBAR*/

.wave-group {
    position: relative;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
    width: 50%;
}

/*-------------------*/



/* BOTONES DEL SEARCH BAR*/

.boton_Search {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #1fd7e8df;
    outline: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}

.boton_Search::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #ffffff;
    transition: 0.5s;
    transform-origin: center;
}

.boton_Search::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #ffffff;
    transition: 0.5s;
}

.boton_Search:hover::before,
button:hover::after {
    transform: scale(0)
}

.boton_Search:hover {
    box-shadow: inset 0px 0px 25px #1fd7e8df;
}



