html {
    background: linear-gradient(to bottom right, #ed1c24, #fdef08, #3776bc, #55aaff, #55aaff, #3776bc, #fdef08, #ed1c24);
    background-attachment: fixed;
}

.PokemonList {
    display: flex;
    flex-direction: column;
}


/*AQUI VA LOS DOS FILTER Y ORDER, QUE ESTAN A LA IZQUIERDA*/
.IzquierdaFilterOrder {
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url("./img/background-elegant-black.png");
    width: 100%;
    height: 200px;

}

.hola_de_nuevo {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    max-width: 800px;
    padding-left: 40px;
    margin: 20px 0;

}

/**/


.Filterpoke_OrderPoke {
    display: flex;
    width: 1000px;
    max-width: 1000px;
    justify-content: space-evenly;
    margin-left: 150px;
    align-items: center;
    background-color: #00000077;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: aliceblue;
}


/* ORDENAR ASCEDENTE Y DESCENDENTE*/
.ordenar_Asc_Desc {
    display: flex;
    justify-content: flex-start;
    
}


/**/




/* MODULO DE FILTERPOKEMONS*/
.Filtrados {
    display: flex;
    flex-direction: row;
    /* background-color: #55aaff; */
    height: 20px;
    justify-content: space-around;
}

/**/


.div_filtrados{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}



.div_hola {
height: 100px;
/* max-height: 2vh; */
}


/* HOLA - REFRESH DIV */
.Pokemonlist_hola_refresh {
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.281); */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 120px;
    height: 170px;
    padding-top: 10px;

}



.div_boton_refresh {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.div_botones {
    display: flex;
    justify-content: center;
    background-color: #ffffff;

    padding: 20px 0;
}



/* AQUI VAN EL DIV DE LOS BOTONES DE ORDENAR */
.orderPokemon {
    /* background-color: #ed1c24; */
    /* max-width: 200px; */
    max-height: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /* margin-top: 25px; */
}

/*-------------------------------------------*/





/* NUMBERLIST */
/*PAGINADO DEL UL  EN numberList*/
.paginado_Ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;

}

/* AQUI VA EL LI*/
.paginado_Li button {
    text-decoration: none;
    height: 45px;
}

/*div de hola y de paginado*/
.div_PokemonList {
    display: flex;
    flex-direction: column;
}


/* PARTE DE ABAJO CARDS Y LA IMAGEN QUE SE PONDRA */

.cards_imagen {
    display: flex;

}



/*********************AQUI BOTONES DE PAGINADO********************************/

/*BOTON IZQUIERDO*/
.boton_prev {
    max-width: 150px;
    width: 130px;
    height: 45px;
    --green: #000000;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 70px 0 0 70px;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, #3f46431a 1%, transparent 40%, transparent 60%, #3f46431a 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px #3f46431a, 0 0 9px 3px rgba(27, 253, 156, 0.1);
    background-color: hsla(358, 85%, 52%, 0.90);
}


.boton_prev:hover {
    color: #000000;
    box-shadow: inset 0 0 10px #3e464299, 0 0 9px 3px #34383633;
}

.boton_prev:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, #3e464299 40%, #34383633 60%, transparent 100%);
}

.boton_prev:hover:before {
    transform: translateX(15em);
}


/*------*/
.boton_prev2 {
    max-width: 150px;
    width: 130px;
    height: 45px;
    --green: #646464;
    font-size: 14.5px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 70px 0 0 70px;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    color: var(--green);
    background-color: hsla(358, 85%, 52%, 0.418);
}

/*------*/





/*BOTON DERECHO*/
.boton_next {
    max-width: 150px;
    width: 130px;
    height: 45px;
    --green: #000000;
    font-size: 15px;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0px 70px 70px 0px;

    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, #3f46431a 1%, transparent 40%, transparent 60%, #3f46431a 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px #3f46431a, 0 0 9px 3px rgba(27, 253, 156, 0.1);
    -webkit-border-radius: 0px 70px 70px 0px;
    -moz-border-radius: 0px 70px 70px 0px;
    -ms-border-radius: 0px 70px 70px 0px;
    -o-border-radius: 0px 70px 70px 0px;
    background-color: hsla(358, 85%, 52%, 0.90);
}


.boton_next:hover {
    color: #000000;
    box-shadow: inset 0 0 10px #3e464299, 0 0 9px 3px #34383633;
}

.boton_next:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, #3e464299 40%, #34383633 60%, transparent 100%);
}

.boton_next:hover:before {
    transform: translateX(15em);
}

/**/
.boton_next2 {
    max-width: 150px;
    width: 130px;
    height: 45px;
    --green: #646464;
    font-size: 15px;
    padding: 0.7em 2.7em;
    position: relative;
    font-family: inherit;
    border-radius: 0 70px 70px 0;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    color: var(--green);
    -webkit-border-radius: 0 70px 70px 0;
    -moz-border-radius: 0 70px 70px 0;
    -ms-border-radius: 0 70px 70px 0;
    -o-border-radius: 0 70px 70px 0;
    background-color: hsla(358, 85%, 52%, 0.418);
}

/**/