body {
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    overflow-x: hidden;
}





/* EL HEADER QUE ESTA TODO */
.header_landing {
    padding-top: 25vh;
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: row;
}




/*efecto mew*/

.div_img_mew {
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
    top: 200px;
    left: 400px;
}

.mew {
    position: absolute;
    width: 200px;
    height: 200px;
    /* transition: transform 1s ease-in-out;
    transform: scale(0.5); */
}



/**/






.gotta_div1 img {
    width: 500px;
    height: 300px;
}

/* EL DIV QUE CONTIENE LO DE ABAJO 1*/
.div_superior {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* EL DIV QUE CONTIENE LO DE ABAJO 2*/
/*--------------------------------*/
.div_principal_landing {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* EL H1 QUE DICE MUNDO POKEMON*/
.h1_landing {
    color: rgb(223, 219, 22);
}

/* -- DIV DEL BOTON PARA IR A HOME-- */
.boton_landing_to_home {
    height: 10px;
    padding-left: 15px;
}

/*--------------------------------*/

.divArticle {
    display: flex;
    padding-left: 20px;

}